Repository michalprusek/SpheroSeg: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-frontend, eslint-backend, eslint-shared, typescript-frontend, typescript-backend, prettier-frontend, prettier-backend, frontend-tests-critical, backend-tests-critical, npm-audit, validate-imports

eslint-frontend:
  name: ESLint (Frontend)
  entry: bash -c 'cd packages/frontend && npm run lint:fix'
  language: system
  pass_filenames: false

eslint-backend:
  name: ESLint (Backend)
  entry: bash -c 'cd packages/backend && npm run lint:fix'
  language: system
  pass_filenames: false

eslint-shared:
  name: ESLint (Shared)
  entry: bash -c 'cd packages/shared && npm run lint:fix'
  language: system
  pass_filenames: false

typescript-frontend:
  name: TypeScript Check (Frontend)
  entry: bash -c 'cd packages/frontend && npm run type-check'
  language: system
  pass_filenames: false

typescript-backend:
  name: TypeScript Check (Backend)
  entry: bash -c 'cd packages/backend && npm run type-check'
  language: system
  pass_filenames: false

prettier-frontend:
  name: Prettier (Frontend)
  entry: bash -c 'cd packages/frontend && npm run format'
  language: system
  pass_filenames: false

prettier-backend:
  name: Prettier (Backend)
  entry: bash -c 'cd packages/backend && npm run format'
  language: system
  pass_filenames: false

frontend-tests-critical:
  name: Frontend Critical Tests
  entry: bash -c 'cd packages/frontend && npm run test -- --run --reporter=basic src/__tests__/critical/'
  language: system
  pass_filenames: false

backend-tests-critical:
  name: Backend Critical Tests
  entry: bash -c 'cd packages/backend && npm run test -- --testNamePattern="(auth|security|validation)" --maxWorkers=2'
  language: system
  pass_filenames: false

npm-audit:
  name: NPM Security Audit
  entry: bash -c 'if [ "${CI:-false}" = "true" ]; then npm audit --audit-level=moderate --offline || echo "Audit failed in CI - check dependencies manually"; else npm audit --audit-level=moderate; fi'
  language: system
  pass_filenames: false

validate-imports:
  name: Validate Imports
  entry: bash -c 'node scripts/validate-imports.js'
  language: system
  pass_filenames: false

docs(api): Complete JSDoc documentation for all backend routes
  packages/frontend/vite.config.ts
Due: eslint-frontend, typescript-frontend, prettier-frontend

fix: Fix build errors and add missing type definitions
  package-lock.json
  packages/backend/package.json
  packages/shared/src/utils/sanitization.ts
Due: eslint-shared, prettier-backend, npm-audit, validate-imports

fix: Resolve remaining browser console errors
  FIX_SUMMARY.md
  nginx.dev.conf
  packages/backend/src/routes/images.ts
  packages/backend/src/routes/projects.ts
  packages/backend/src/routes/segmentation.ts
  packages/backend/src/services/imageDeleteService.ts
  packages/backend/src/services/projectService.ts
  packages/frontend/public/locales/en/translation.json
  packages/frontend/public/service-worker.js
  packages/frontend/src/i18n.ts
  packages/frontend/src/lib/apiClient.ts
  packages/frontend/src/main.tsx
  packages/frontend/src/pages/segmentation/SegmentationPage.tsx
  packages/frontend/src/utils/error/permissionErrorHandler.ts
  packages/frontend/src/utils/getAssetUrl.ts
  packages/frontend/vite.config.ts
Due: eslint-frontend, eslint-backend, typescript-frontend, typescript-backend, prettier-frontend, prettier-backend, frontend-tests-critical, backend-tests-critical, validate-imports

fix: Resolve permission errors and avatar 404 issues
  nginx.dev.conf
  nginx.prod.conf
  packages/frontend/src/components/project/ProjectImageActions.tsx
  packages/frontend/src/hooks/useImageDelete.ts
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

fix: Fix TypeScript build errors in backend test files
  .gitignore
  packages/backend/src/__tests__/auth.minimal.test.ts
  packages/backend/src/__tests__/auth.test.ts
  packages/backend/src/__tests__/databaseOptimization.integration.test.ts
  packages/backend/src/__tests__/types/mocks.ts
  packages/types/src/image.d.ts
  packages/types/src/image.js
  packages/types/src/image.js.map
  packages/types/src/index.d.ts
  packages/types/src/index.js
  packages/types/src/index.js.map
  packages/types/src/polygon.d.ts
  packages/types/src/polygon.js
  packages/types/src/polygon.js.map
  packages/types/src/project.d.ts
  packages/types/src/project.js
  packages/types/src/project.js.map
  packages/types/src/segmentation.d.ts
  packages/types/src/segmentation.js
  packages/types/src/segmentation.js.map
  packages/types/src/user.d.ts
  packages/types/src/user.js
  packages/types/src/user.js.map
  packages/types/tsconfig.tsbuildinfo
Due: eslint-backend, typescript-backend, prettier-backend, backend-tests-critical, validate-imports

feat: Implement secure environment variable management
  .env.example
  docker-compose.yml
  docs/security/environment-setup.md
  scripts/check-env.sh
Due: none

test: Start fixing frontend tests - work in progress on LanguageContext mocks
  packages/frontend/Test Project_metrics_2025-07-18.xlsx
  packages/frontend/src/contexts/__tests__/enhanced/LanguageContext.test.tsx
  packages/frontend/test-results.json
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

test: Create MockApiClientProvider for integration tests
  packages/frontend/packages/frontend/src/hooks/api/useExportApi.ts
  packages/frontend/src/lib/__mocks__/enhanced/apiClient.tsx
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

fix: Add missing type definitions and remove unused GraphQL code
  package-lock.json
  packages/backend/package.json
  packages/backend/src/graphql/__tests__/graphql.test.ts
  packages/backend/src/graphql/context.ts
  packages/backend/src/graphql/dataloaders/imageLoader.ts
  packages/backend/src/graphql/dataloaders/projectLoader.ts
  packages/backend/src/graphql/dataloaders/segmentationLoader.ts
  packages/backend/src/graphql/dataloaders/userLoader.ts
  packages/backend/src/graphql/directives/authDirective.ts
  packages/backend/src/graphql/directives/rateLimitDirective.ts
  packages/backend/src/graphql/index.ts
  packages/backend/src/graphql/plugins/complexityPlugin.ts
  packages/backend/src/graphql/plugins/loggingPlugin.ts
  packages/backend/src/graphql/plugins/performancePlugin.ts
  packages/backend/src/graphql/resolvers/image.resolver.ts
  packages/backend/src/graphql/resolvers/project.resolver.ts
  packages/backend/src/graphql/resolvers/scalar.resolver.ts
  packages/backend/src/graphql/resolvers/segmentation.resolver.ts
  packages/backend/src/graphql/resolvers/user.resolver.ts
  packages/backend/src/graphql/schema/common.graphql
  packages/backend/src/graphql/schema/image.graphql
  packages/backend/src/graphql/schema/index.ts
  packages/backend/src/graphql/schema/project.graphql
  packages/backend/src/graphql/schema/segmentation.graphql
  packages/backend/src/graphql/schema/user.graphql
  packages/backend/src/graphql/server.ts
  packages/backend/src/graphql/utils/errorFormatter.ts
  packages/backend/src/services/metricsService.ts
  packages/backend/src/services/projectDuplicationService.ts
Due: eslint-backend, typescript-backend, prettier-backend, backend-tests-critical, npm-audit, validate-imports

fix: Make AWS SDK optional dependency for CDN service
  packages/backend/src/services/cdnService.ts
Due: eslint-backend, typescript-backend, prettier-backend, backend-tests-critical, validate-imports

fix(shared): resolve ESLint warnings in shared package
  packages/shared/src/utils/imageUtils.ts
  packages/shared/src/utils/logger.ts
  packages/shared/src/utils/sanitization.ts
Due: eslint-shared, validate-imports

fix(backend): resolve ESLint errors for unused variables
  packages/backend/src/middleware/errorHandler.ts
  packages/backend/src/middleware/validation.ts
  packages/backend/src/monitoring/errorTracker.ts
  packages/backend/src/monitoring/performanceTracker.ts
Due: eslint-backend, typescript-backend, prettier-backend, backend-tests-critical, validate-imports

fix(backend): resolve more ESLint errors for unused variables
  packages/backend/src/monitoring/performanceTracker.ts
  packages/backend/src/routes/__tests__/images.test.ts
  packages/backend/src/routes/__tests__/users.test.ts
Due: eslint-backend, typescript-backend, prettier-backend, backend-tests-critical, validate-imports

fix(backend): resolve additional ESLint errors for unused variables
  packages/backend/src/routes/__tests__/images.test.ts
  packages/backend/src/routes/__tests__/logs.test.ts
  packages/backend/src/routes/__tests__/metricsRoutes.test.ts
  packages/backend/src/security/__tests__/SecurityManager.test.ts
Due: eslint-backend, typescript-backend, prettier-backend, backend-tests-critical, validate-imports

fix(backend): resolve various ESLint errors
  packages/backend/src/middleware/dbMonitoringMiddleware.ts
  packages/backend/src/middleware/enhancedValidation.ts
  packages/backend/src/middleware/errorHandler.ts
  packages/backend/src/middleware/i18n.ts
  packages/backend/src/tests/imageUpload.test.ts
  packages/backend/src/tests/imageUtils.test.ts
Due: eslint-backend, typescript-backend, prettier-backend, backend-tests-critical, validate-imports

fix(backend): add descriptions to @ts-expect-error directives
  packages/backend/src/routes/projects.ts
  packages/backend/src/routes/segmentation.ts
Due: eslint-backend, typescript-backend, prettier-backend, backend-tests-critical, validate-imports

fix(backend): remove unused imports from test files
  packages/backend/src/routes/__tests__/securityReportRoutes.test.ts
  packages/backend/src/routes/__tests__/segmentation.test.ts
  packages/backend/src/routes/__tests__/users.test.ts
Due: eslint-backend, typescript-backend, prettier-backend, backend-tests-critical, validate-imports

fix: Remove unused imports in backend route files
  packages/backend/src/routes/accessRequests.ts
  packages/backend/src/routes/admin.ts
  packages/backend/src/routes/auth.enhanced.ts
  packages/backend/src/routes/auth.ts
  packages/backend/src/routes/download.ts
  packages/backend/src/routes/images.ts
  packages/backend/src/routes/index.ts
  packages/backend/src/routes/logs.ts
  packages/backend/src/routes/metrics.ts
  packages/backend/src/routes/monitoring.ts
Due: eslint-backend, typescript-backend, prettier-backend, backend-tests-critical, validate-imports

fix: Fix more ESLint errors in backend test files
  packages/backend/src/routes/__tests__/auth.enhanced.test.ts
  packages/backend/src/routes/__tests__/images.test.ts
  packages/backend/src/routes/__tests__/users.test.ts
Due: eslint-backend, typescript-backend, prettier-backend, backend-tests-critical, validate-imports

fix: Fix namespace error and unused variables
  packages/backend/src/middleware/databaseOptimizationMiddleware.ts
  packages/backend/src/routes/auth.enhanced.ts
  packages/backend/src/routes/download.ts
Due: eslint-backend, typescript-backend, prettier-backend, backend-tests-critical, validate-imports

fix: Fix unused variables in backend files
  packages/backend/src/routes/images.ts
  packages/backend/src/routes/index.ts
Due: eslint-backend, typescript-backend, prettier-backend, backend-tests-critical, validate-imports

fix: Remove unused variables and imports in backend files
  packages/backend/src/routes/logs.ts
  packages/backend/src/routes/metrics.ts
  packages/backend/src/routes/monitoring.ts
Due: eslint-backend, typescript-backend, prettier-backend, backend-tests-critical, validate-imports

fix: Fix unused parameters in backend files
  packages/backend/src/routes/index.ts
  packages/backend/src/routes/preview.ts
  packages/backend/src/routes/segmentation.ts
Due: eslint-backend, typescript-backend, prettier-backend, backend-tests-critical, validate-imports

fix: Replace @ts-ignore with @ts-expect-error and fix unused parameters
  packages/backend/src/routes/segmentation.ts
  packages/backend/src/routes/status.ts
  packages/backend/src/services/performanceMonitor.ts
Due: eslint-backend, typescript-backend, prettier-backend, backend-tests-critical, validate-imports

fix: Fix unused next parameters and replace @ts-ignore
  packages/backend/src/routes/segmentation.ts
  packages/backend/src/routes/status.ts
Due: eslint-backend, typescript-backend, prettier-backend, backend-tests-critical, validate-imports

fix(backend): Fix unused variables in routes and services
  packages/backend/src/middleware/errorHandler.ts
  packages/backend/src/routes/userStats.ts
  packages/backend/src/routes/users.ts
  packages/backend/src/security/middleware/auth.ts
  packages/backend/src/services/__tests__/projectService.test.ts
  packages/backend/src/services/__tests__/segmentationQueueService.test.ts
  packages/backend/src/services/cacheService.ts
Due: eslint-backend, typescript-backend, prettier-backend, backend-tests-critical, validate-imports

fix(backend): Replace require statements with ES6 imports
  packages/backend/src/middleware/__tests__/swaggerMiddleware.test.ts
  packages/backend/src/services/__tests__/segmentationQueueService.test.ts
  packages/backend/src/services/authService.ts
  packages/backend/src/services/cdnService.ts
  packages/backend/src/tests/images.test.ts
  packages/backend/src/tests/segmentation/versionManagement.test.ts
Due: eslint-backend, typescript-backend, prettier-backend, backend-tests-critical, validate-imports

fix(backend): Fix more unused variables and imports
  packages/backend/src/security/middleware/__tests__/auth.test.ts
  packages/backend/src/server.ts
  packages/backend/src/services/__tests__/fileCleanupService.test.ts
Due: eslint-backend, typescript-backend, prettier-backend, backend-tests-critical, validate-imports

fix(backend): Replace Function type with proper type signatures
  packages/backend/src/services/__tests__/segmentationQueueService.test.ts
  packages/backend/src/test-utils/mockAuth.ts
  packages/backend/src/tests/performanceMiddleware.test.ts
Due: eslint-backend, typescript-backend, prettier-backend, backend-tests-critical, validate-imports

fix(backend): Fix more unused parameters and variables
  packages/backend/src/services/__tests__/projectDuplicationService.test.ts
  packages/backend/src/services/__tests__/projectService.test.ts
  packages/backend/src/services/__tests__/segmentationQueueService.test.ts
  packages/backend/src/services/advancedCacheService.ts
Due: eslint-backend, typescript-backend, prettier-backend, backend-tests-critical, validate-imports

fix(backend): Fix switch case declarations and unused imports
  packages/backend/src/services/cdnService.ts
  packages/backend/src/services/databaseOptimizationService.ts
  packages/backend/src/services/imageProcessingService.ts
Due: eslint-backend, typescript-backend, prettier-backend, backend-tests-critical, validate-imports

fix(backend): Fix more unused variables and require statements
  packages/backend/src/tests/segmentation_workflow_integration.test.ts
  packages/backend/src/utils/__tests__/containerInfo.test.ts
  packages/backend/src/utils/__tests__/imageUtils.test.ts
Due: eslint-backend, typescript-backend, prettier-backend, backend-tests-critical, validate-imports

fix(backend): Fix unused parameters in NoOpCDNService and remove UPLOAD_DIR
  packages/backend/src/services/cdnService.ts
  packages/backend/src/services/imageProcessingService.ts
Due: eslint-backend, typescript-backend, prettier-backend, backend-tests-critical, validate-imports

fix(backend): Remove unused imports and variables in services
  packages/backend/src/middleware/errorHandleri18n.ts
  packages/backend/src/services/metricsService.ts
  packages/backend/src/services/mlMetricsAdapter.ts
  packages/backend/src/services/optimizedQueryService.ts
  packages/backend/src/services/projectDuplicationService.ts
  packages/backend/src/services/projectService.ts
  packages/backend/src/services/prometheusMetricsService.ts
  packages/backend/src/services/securityService.ts
  packages/backend/src/services/segmentationQueueService.ts
  packages/backend/src/services/socketService.ts
  packages/backend/src/services/socketServiceEnhanced.ts
Due: eslint-backend, typescript-backend, prettier-backend, backend-tests-critical, validate-imports

fix(backend): Fix more unused variables and ESLint errors
  packages/backend/src/services/imageProcessingService.ts
  packages/backend/src/services/segmentationService.ts
  packages/backend/src/services/userProfileService.ts
  packages/backend/src/services/websocketBatcher.ts
  packages/backend/src/test-utils/index.ts
  packages/backend/src/test-utils/mockAuth.ts
  packages/backend/src/test-utils/mockDatabase.ts
Due: eslint-backend, typescript-backend, prettier-backend, backend-tests-critical, validate-imports

fix(backend): Fix test utility unused variables and parameters
  docs/improvement-plan-2025.md
  packages/backend/src/test-utils/mockDatabase.ts
  packages/backend/src/test-utils/mockFileSystem.ts
  packages/backend/src/tests/api.test.ts
  packages/backend/src/tests/data/complexPolygonProcessing.test.ts
Due: eslint-backend, typescript-backend, prettier-backend, backend-tests-critical, validate-imports

feat(shared): add unified API response handler and types
  packages/shared/src/api/index.ts
  packages/shared/src/api/response.types.ts
  packages/shared/src/api/responseHandler.ts
  packages/shared/src/api/schemas.ts
  packages/shared/src/index.ts
Due: eslint-shared, validate-imports

fix(backend): Fix unused variables in test files
  packages/backend/src/routes/auth.ts
  packages/backend/src/tests/data/complexPolygonProcessing.test.ts
  packages/backend/src/tests/data/largeImageProcessing.test.ts
  packages/backend/src/utils/responseHelpers.ts
Due: eslint-backend, typescript-backend, prettier-backend, backend-tests-critical, validate-imports

feat(backend): implement unified response handler in auth routes
  packages/backend/src/routes/auth.ts
Due: eslint-backend, typescript-backend, prettier-backend, backend-tests-critical, validate-imports

Path conditions:
  eslint-frontend: any of: ^packages/frontend/.*\.(ts|tsx|js|jsx)$
  eslint-backend: any of: ^packages/backend/.*\.ts$
  eslint-shared: any of: ^packages/shared/.*\.(ts|tsx)$
  typescript-frontend: any of: ^packages/frontend/.*\.(ts|tsx)$
  typescript-backend: any of: ^packages/backend/.*\.ts$
  prettier-frontend: any of: ^packages/frontend/.*\.(ts|tsx|js|jsx|css|scss|json)$
  prettier-backend: any of: ^packages/backend/.*\.(ts|js|json)$
  frontend-tests-critical: any of: ^packages/frontend/src/.*\.(ts|tsx)$
  backend-tests-critical: any of: ^packages/backend/src/.*\.ts$
  npm-audit: any of: ^(package\.json|package-lock\.json)$
  validate-imports: any of: ^packages/.*/src/.*\.(ts|tsx|js|jsx)$
