Repository michalprusek/SpheroSeg: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-frontend, eslint-backend, eslint-shared, typescript-frontend, typescript-backend, prettier-frontend, prettier-backend, frontend-tests-critical, backend-tests-critical, npm-audit, validate-imports

eslint-frontend:
  name: ESLint (Frontend)
  entry: bash -c 'cd packages/frontend && npm run lint:fix'
  language: system
  pass_filenames: false

eslint-backend:
  name: ESLint (Backend)
  entry: bash -c 'cd packages/backend && npm run lint:fix'
  language: system
  pass_filenames: false

eslint-shared:
  name: ESLint (Shared)
  entry: bash -c 'cd packages/shared && npm run lint:fix'
  language: system
  pass_filenames: false

typescript-frontend:
  name: TypeScript Check (Frontend)
  entry: bash -c 'cd packages/frontend && npm run type-check'
  language: system
  pass_filenames: false

typescript-backend:
  name: TypeScript Check (Backend)
  entry: bash -c 'cd packages/backend && npm run type-check'
  language: system
  pass_filenames: false

prettier-frontend:
  name: Prettier (Frontend)
  entry: bash -c 'cd packages/frontend && npm run format'
  language: system
  pass_filenames: false

prettier-backend:
  name: Prettier (Backend)
  entry: bash -c 'cd packages/backend && npm run format'
  language: system
  pass_filenames: false

frontend-tests-critical:
  name: Frontend Critical Tests
  entry: bash -c 'cd packages/frontend && npm run test -- --run --reporter=basic src/__tests__/critical/'
  language: system
  pass_filenames: false

backend-tests-critical:
  name: Backend Critical Tests
  entry: bash -c 'cd packages/backend && npm run test -- --testNamePattern="(auth|security|validation)" --maxWorkers=2'
  language: system
  pass_filenames: false

npm-audit:
  name: NPM Security Audit
  entry: bash -c 'if [ "${CI:-false}" = "true" ]; then npm audit --audit-level=moderate --offline || echo "Audit failed in CI - check dependencies manually"; else npm audit --audit-level=moderate; fi'
  language: system
  pass_filenames: false

validate-imports:
  name: Validate Imports
  entry: bash -c 'node scripts/validate-imports.js'
  language: system
  pass_filenames: false

feat(backend): apply unified response handler to images routes
  packages/backend/src/routes/images.ts
Due: eslint-backend, typescript-backend, prettier-backend, backend-tests-critical, validate-imports

feat(shared): add comprehensive Zod validation schemas
  packages/backend/src/utils/validation.ts
  packages/shared/src/api/entitySchemas.ts
  packages/shared/src/api/index.ts
Due: eslint-backend, eslint-shared, typescript-backend, prettier-backend, backend-tests-critical, validate-imports

test(shared): add comprehensive tests for API response handler and schemas
  packages/shared/src/api/__tests__/entitySchemas.test.ts
  packages/shared/src/api/__tests__/responseHandler.test.ts
Due: eslint-shared, validate-imports

feat(typescript): enhance strict mode configuration across all packages
  packages/backend/tsconfig.json
  packages/frontend/tsconfig.json
  packages/shared/tsconfig.json
  tsconfig.base.json
Due: prettier-frontend, prettier-backend

fix(backend): replace remaining 'any' types in optimizedQueryService
  packages/backend/src/services/optimizedQueryService.ts
  packages/backend/src/types/database.ts
Due: eslint-backend, typescript-backend, prettier-backend, backend-tests-critical, validate-imports

fix(backend): replace more 'any' types in utils directory
  packages/backend/src/utils/ApiError.ts
  packages/backend/src/utils/logger.ts
  packages/backend/src/utils/responseHelpers.ts
  packages/backend/src/utils/validation.ts
Due: eslint-backend, typescript-backend, prettier-backend, backend-tests-critical, validate-imports

fix(backend): replace more 'any' types in utils
  packages/backend/src/utils/healthCheck.ts
  packages/backend/src/utils/imageUtils.ts
  packages/backend/src/utils/performance.ts
Due: eslint-backend, typescript-backend, prettier-backend, backend-tests-critical, validate-imports

fix(backend): replace 'any' types in authService and advancedCacheService
  packages/backend/src/services/advancedCacheService.ts
  packages/backend/src/services/authService.ts
Due: eslint-backend, typescript-backend, prettier-backend, backend-tests-critical, validate-imports

feat(frontend): implement route-based code splitting
  packages/frontend/src/App.tsx
  packages/frontend/src/routing/AppLayout.tsx
  packages/frontend/src/routing/RouterErrorBoundary.tsx
  packages/frontend/src/routing/index.ts
  packages/frontend/src/routing/routes.tsx
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

feat(frontend): add React.memo to frequently re-rendered components
  packages/frontend/src/components/NewProjectListItem.tsx
  packages/frontend/src/components/ProjectListItem.tsx
  packages/frontend/src/components/project/ImageDisplay.tsx
  packages/frontend/src/components/project/ProjectCard.tsx
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

feat(frontend): add React.memo to ThemedFooter component
  packages/frontend/src/components/ThemedFooter.tsx
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

feat(frontend): update API client to use standardized response types
  packages/backend/keys/d2b62a338cced3f651a638d694d2b29e.json
  packages/backend/src/__tests__/helpers/testHelpers.ts
  packages/backend/src/__tests__/setup.ts
  packages/frontend/src/services/api/client.ts
  packages/shared/src/api/responseHandler.ts
  packages/shared/src/utils/logger.ts
Due: eslint-frontend, eslint-backend, eslint-shared, typescript-frontend, typescript-backend, prettier-frontend, prettier-backend, frontend-tests-critical, backend-tests-critical, validate-imports

feat(frontend): migrate authApiService to use unified API client
  packages/frontend/src/services/authApiService.ts
  packages/shared/src/api/responseHandler.ts
  packages/shared/src/monitoring/performanceMonitoring.ts
  packages/shared/src/utils/imageUtils.ts
Due: eslint-frontend, eslint-shared, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

fix(shared): fix TypeScript compilation errors in shared package
  packages/shared/src/api/index.ts
  packages/shared/src/utils/polygonUtils.unified.ts
Due: eslint-shared, validate-imports

fix(shared): fix remaining TypeScript errors in shared package
  packages/frontend/src/services/userProfileService.ts
  packages/shared/src/utils/polygonWasmUtils.ts
  packages/shared/src/utils/sanitization.ts
  packages/shared/src/validation/enhancedValidation.ts
Due: eslint-frontend, eslint-shared, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

feat(frontend): migrate unifiedFileUploadService to use unified API client
  packages/frontend/src/services/unifiedFileUploadService.ts
  packages/shared/src/api/responseHandler.ts
  packages/shared/src/utils/polygonUtils.unified.ts
Due: eslint-frontend, eslint-shared, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

fix(shared): fix all remaining TypeScript errors in shared package
  packages/shared/src/utils/polygonUtils.unified.ts
Due: eslint-shared, validate-imports

fix(shared): fix final TypeScript errors in shared package
  packages/shared/src/api/responseHandler.ts
  packages/shared/src/utils/polygonUtils.unified.ts
Due: eslint-shared, validate-imports

fix(backend): remove 'any' types from projects route
  packages/backend/src/routes/projects.ts
  packages/backend/src/services/projectService.ts
  packages/shared/src/utils/polygonUtils.unified.ts
Due: eslint-backend, eslint-shared, typescript-backend, prettier-backend, backend-tests-critical, validate-imports

fix(shared): fix last remaining TypeScript errors in polygonUtils
  packages/backend/src/routes/images.ts
  packages/shared/src/utils/polygonUtils.unified.ts
Due: eslint-backend, eslint-shared, typescript-backend, prettier-backend, backend-tests-critical, validate-imports

fix(backend): remove 'any' types from images route
  packages/backend/src/routes/images.ts
Due: eslint-backend, typescript-backend, prettier-backend, backend-tests-critical, validate-imports

fix(shared): resolve all remaining TypeScript errors in polygonUtils
  packages/backend/src/routes/segmentation.ts
  packages/shared/src/utils/polygonUtils.unified.ts
Due: eslint-backend, eslint-shared, typescript-backend, prettier-backend, backend-tests-critical, validate-imports

fix(backend): remove 'any' types from segmentation route
  packages/backend/src/routes/segmentation.ts
  packages/shared/src/utils/polygonUtils.unified.ts
Due: eslint-backend, eslint-shared, typescript-backend, prettier-backend, backend-tests-critical, validate-imports

fix(shared): fix final TypeScript errors in polygonUtils (Feret diameter)
  packages/shared/src/utils/polygonUtils.unified.ts
Due: eslint-shared, validate-imports

fix(shared): resolve final TypeScript errors - shared package now builds successfully
  packages/frontend/src/contexts/UnifiedSocketContext.tsx
  packages/shared/src/utils/polygonUtils.unified.ts
  packages/shared/src/utils/polygonWasmUtils.ts
  packages/shared/src/utils/sanitization.ts
Due: eslint-frontend, eslint-shared, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

fix(shared): fix last TypeScript error in sanitization.ts
  packages/shared/src/utils/sanitization.ts
Due: eslint-shared, validate-imports

fix(shared): resolve DOMPurify type issue in sanitization.ts
  packages/shared/src/utils/sanitization.ts
Due: eslint-shared, validate-imports

fix(frontend): Remove 'any' types from ABTestingContext
  packages/frontend/src/contexts/ABTestingContext.tsx
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

fix(frontend): auto-fix ESLint errors with --fix option
  packages/frontend/src/__tests__/Documentation.test.tsx
  packages/frontend/src/__tests__/export/ExportOptionsCard.test.tsx
  packages/frontend/src/__tests__/export/ImageSelectionCard.test.tsx
  packages/frontend/src/components/project/SegmentationProgress.tsx
  packages/frontend/src/components/settings/__tests__/AvatarUploader.test.tsx
  packages/frontend/src/components/upload/__tests__/FileList.test.tsx
  packages/frontend/src/contexts/AuthContext.tsx
  packages/frontend/src/contexts/__tests__/enhanced/LanguageContext.test.tsx
  packages/frontend/src/hooks/__tests__/useABTesting.test.ts
  packages/frontend/src/lib/apiClient.ts
  packages/frontend/src/main.tsx
  packages/frontend/src/pages/__tests__/ProjectExportPage.test.tsx
  packages/frontend/src/pages/segmentation/hooks/segmentation/api.ts
  packages/frontend/src/services/api/client.ts
  packages/frontend/src/services/authApiService.ts
  packages/frontend/src/services/unifiedFileUploadService.ts
  packages/frontend/src/services/userProfileService.ts
  packages/frontend/src/utils/error/__tests__/unifiedErrorHandler.suppression.test.ts
  packages/frontend/src/utils/error/permissionErrorHandler.ts
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

fix(frontend): Remove 'any' types from AuthContext
  packages/frontend/src/__mocks__/polygonWorker.ts
  packages/frontend/src/contexts/AuthContext.tsx
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

fix(frontend): Remove 'any' type from VirtualList component
  packages/frontend/src/__tests__/export/ImageSelectionCard.test.tsx
  packages/frontend/src/components/ui/VirtualList.tsx
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

fix(frontend): Remove 'any' type from usePermissions hook
  packages/frontend/src/__tests__/Documentation.test.tsx
  packages/frontend/src/hooks/usePermissions.tsx
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

fix(frontend): Remove 'any' types from toastService
  packages/frontend/src/__tests__/hooks/usePerformance.test.tsx
  packages/frontend/src/services/toastService.tsx
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

fix(frontend): Remove 'any' type from routes.tsx
  packages/frontend/src/routing/routes.tsx
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

fix(frontend): Migrate unifiedAuthService to new API client and remove 'any' types
  packages/frontend/src/services/unifiedAuthService.ts
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

fix(frontend): Migrate unifiedExportService to new API client and remove 'any' types
  packages/frontend/src/services/unifiedExportService.ts
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

fix(frontend): Migrate remaining services to new API client and remove 'any' types
  packages/frontend/src/__tests__/integration/toast-error-handling.test.tsx
  packages/frontend/src/__tests__/pages/AboutPage.test.tsx
  packages/frontend/src/__tests__/pages/LandingPage.test.tsx
  packages/frontend/src/__tests__/pages/RequestAccess.test.tsx
  packages/frontend/src/services/authService.ts
  packages/frontend/src/services/exportService.ts
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

fix(frontend): Fix ESLint errors - unused variables and require imports
  packages/frontend/src/__tests__/integration/segmentation-api.test.tsx
  packages/frontend/src/__tests__/pages/RequestAccess.test.tsx
  packages/frontend/src/__tests__/pages/SignIn.test.tsx
  packages/frontend/src/__tests__/pages/SignUp.test.tsx
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

fix(shared): Fix remaining ESLint errors in shared package
  packages/frontend/packages/frontend/src/hooks/api/useExportApi.ts
  packages/shared/src/api/__tests__/entitySchemas.test.ts
  packages/shared/src/api/__tests__/responseHandler.test.ts
Due: eslint-frontend, eslint-shared, typescript-frontend, prettier-frontend, validate-imports

fix(backend): Fix ESLint errors - unused imports and parameters
  packages/backend/src/routes/auth.ts
  packages/backend/src/routes/images.ts
  packages/backend/src/tests/export.comprehensive.test.ts
  packages/backend/src/tests/export.test.ts
  packages/backend/src/tests/helpers/testSetup.ts
  packages/backend/src/tests/imageRoutes.test.ts
  packages/backend/src/utils/validation.ts
Due: eslint-backend, typescript-backend, prettier-backend, backend-tests-critical, validate-imports

Path conditions:
  eslint-frontend: any of: ^packages/frontend/.*\.(ts|tsx|js|jsx)$
  eslint-backend: any of: ^packages/backend/.*\.ts$
  eslint-shared: any of: ^packages/shared/.*\.(ts|tsx)$
  typescript-frontend: any of: ^packages/frontend/.*\.(ts|tsx)$
  typescript-backend: any of: ^packages/backend/.*\.ts$
  prettier-frontend: any of: ^packages/frontend/.*\.(ts|tsx|js|jsx|css|scss|json)$
  prettier-backend: any of: ^packages/backend/.*\.(ts|js|json)$
  frontend-tests-critical: any of: ^packages/frontend/src/.*\.(ts|tsx)$
  backend-tests-critical: any of: ^packages/backend/src/.*\.ts$
  npm-audit: any of: ^(package\.json|package-lock\.json)$
  validate-imports: any of: ^packages/.*/src/.*\.(ts|tsx|js|jsx)$
