Repository michalprusek/SpheroSeg: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-frontend, eslint-backend, eslint-shared, typescript-frontend, typescript-backend, prettier-frontend, prettier-backend, frontend-tests-critical, backend-tests-critical, npm-audit, validate-imports

eslint-frontend:
  name: ESLint (Frontend)
  entry: bash -c 'cd packages/frontend && npm run lint:fix'
  language: system
  pass_filenames: false

eslint-backend:
  name: ESLint (Backend)
  entry: bash -c 'cd packages/backend && npm run lint:fix'
  language: system
  pass_filenames: false

eslint-shared:
  name: ESLint (Shared)
  entry: bash -c 'cd packages/shared && npm run lint:fix'
  language: system
  pass_filenames: false

typescript-frontend:
  name: TypeScript Check (Frontend)
  entry: bash -c 'cd packages/frontend && npm run type-check'
  language: system
  pass_filenames: false

typescript-backend:
  name: TypeScript Check (Backend)
  entry: bash -c 'cd packages/backend && npm run type-check'
  language: system
  pass_filenames: false

prettier-frontend:
  name: Prettier (Frontend)
  entry: bash -c 'cd packages/frontend && npm run format'
  language: system
  pass_filenames: false

prettier-backend:
  name: Prettier (Backend)
  entry: bash -c 'cd packages/backend && npm run format'
  language: system
  pass_filenames: false

frontend-tests-critical:
  name: Frontend Critical Tests
  entry: bash -c 'cd packages/frontend && npm run test -- --run --reporter=basic src/__tests__/critical/'
  language: system
  pass_filenames: false

backend-tests-critical:
  name: Backend Critical Tests
  entry: bash -c 'cd packages/backend && npm run test -- --testNamePattern="(auth|security|validation)" --maxWorkers=2'
  language: system
  pass_filenames: false

npm-audit:
  name: NPM Security Audit
  entry: bash -c 'if [ "${CI:-false}" = "true" ]; then npm audit --audit-level=moderate --offline || echo "Audit failed in CI - check dependencies manually"; else npm audit --audit-level=moderate; fi'
  language: system
  pass_filenames: false

validate-imports:
  name: Validate Imports
  entry: bash -c 'node scripts/validate-imports.js'
  language: system
  pass_filenames: false

fix: Improve frontend test infrastructure
  packages/frontend/src/pages/export/components/__tests__/enhanced/ExportOptionsCard.test.tsx
  packages/frontend/src/test-setup.ts
  packages/frontend/src/test/fixes/common-test-fixes.ts
  packages/frontend/src/test/setup.ts
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

docs: Add frontend test analysis and recommendations
  docs/frontend-test-analysis.md
Due: none

feat(frontend): implement Phase 1 test infrastructure fixes
  packages/frontend/src/test/README.md
  packages/frontend/src/test/mocks/apiClientFactory.ts
  packages/frontend/src/test/mocks/localStorage.ts
  packages/frontend/src/test/mocks/router.tsx
  packages/frontend/src/test/mocks/websocket.ts
  packages/frontend/src/test/setup.ts
  packages/frontend/src/test/utils/renderWithProviders.tsx
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

feat(error-handling): implement structured error handling system
  docs/error-handling-migration.md
  packages/backend/src/middleware/errorHandler.enhanced.ts
  packages/backend/src/routes/auth.enhanced.example.ts
  packages/backend/src/utils/ApiError.enhanced.ts
  packages/backend/src/utils/errorCodes.ts
  packages/frontend/src/components/auth/SignIn.enhanced.example.tsx
  packages/frontend/src/lib/apiClient.enhanced.ts
  packages/frontend/src/utils/error/structuredErrors.ts
Due: eslint-frontend, eslint-backend, typescript-frontend, typescript-backend, prettier-frontend, prettier-backend, frontend-tests-critical, backend-tests-critical, validate-imports

docs: add comprehensive deployment migration guide
  docs/deployment-migration-guide.md
Due: none

feat(deployment): implement comprehensive rollback procedures
  docs/rollback-procedures.md
  scripts/rollback/010_performance_indexes_rollback.sql
  scripts/rollback/011_monitoring_tables_rollback.sql
  scripts/rollback/012_session_management_rollback.sql
  scripts/rollback/emergency-recovery.sh
  scripts/rollback/restore-database.sh
  scripts/rollback/rollback-app.sh
Due: none

feat(security): implement dynamic rate limiting based on user behavior
  docs/rate-limiting.md
  packages/backend/src/middleware/__tests__/rateLimiter.enhanced.test.ts
  packages/backend/src/middleware/rateLimiter.enhanced.ts
  packages/backend/src/routes/rateLimit.ts
Due: eslint-backend, typescript-backend, prettier-backend, backend-tests-critical, validate-imports

feat(security): implement enhanced CORS configuration with strict whitelist validation
  docs/cors-configuration.md
  packages/backend/src/middleware/__tests__/cors.enhanced.test.ts
  packages/backend/src/middleware/cors.enhanced.ts
  packages/backend/src/routes/cors.ts
  playwright-report/index.html
  test-results/.last-run.json
Due: eslint-backend, typescript-backend, prettier-backend, backend-tests-critical, validate-imports

feat(security): implement automated secret rotation system
  docs/secret-rotation.md
  e2e/user-flows/image-upload-segmentation.spec.ts
  packages/backend/package.json
  packages/backend/src/__tests__/auth.test.ts
  packages/backend/src/__tests__/helpers/testUtils.ts
  packages/backend/src/config/secretRotation.config.ts
  packages/backend/src/middleware/__tests__/rateLimiter.enhanced.test.ts
  packages/backend/src/startup/secretRotation.startup.ts
  packages/backend/src/utils/__tests__/secretRotation.test.ts
  packages/backend/src/utils/secretRotation.ts
  packages/frontend/src/pages/export/components/__tests__/enhanced/ExportOptionsCard.test.tsx
  packages/frontend/src/test-setup.ts
  packages/frontend/src/test-utils/enhancedTestUtils.ts
  scripts/migrations/014_add_secret_rotation_audit.sql
  scripts/rollback/014_add_secret_rotation_audit_rollback.sql
  scripts/rotate-secrets.ts
  test-results/.last-run.json
Due: eslint-frontend, eslint-backend, typescript-frontend, typescript-backend, prettier-frontend, prettier-backend, frontend-tests-critical, backend-tests-critical, validate-imports

feat(performance): implement advanced cache warming and invalidation strategies
  docs/cache-warming-invalidation.md
  package-lock.json
  packages/backend/src/__tests__/helpers/integrationTestUtils.ts
  packages/backend/src/__tests__/helpers/performanceTestUtils.ts
  packages/backend/src/__tests__/helpers/testUtils.ts
  packages/backend/src/middleware/__tests__/cors.enhanced.test.ts
  packages/backend/src/monitoring/unified/index.ts
  packages/backend/src/startup/advancedCache.startup.ts
  packages/backend/src/utils/__tests__/advancedCacheManager.test.ts
  packages/backend/src/utils/advancedCacheManager.ts
  packages/backend/src/utils/advancedCacheStrategies.ts
  packages/frontend/src/pages/export/components/__tests__/enhanced/ExportOptionsCard.test.tsx
  packages/frontend/src/test-utils/coverageTestUtils.ts
  packages/frontend/src/test-utils/debuggingTestUtils.ts
  packages/frontend/src/test-utils/enhancedTestConfig.ts
  packages/frontend/src/test-utils/performanceTestUtils.ts
  packages/frontend/src/test-utils/reportingTestUtils.ts
  packages/shared/package.json
  packages/shared/src/api/__tests__/entitySchemas.test.ts
  packages/shared/src/api/__tests__/responseHandler.test.ts
  packages/shared/src/services/upload/UnifiedUploadService.ts
  packages/shared/src/services/upload/__tests__/UnifiedUploadService.integration.test.ts
  packages/shared/src/testing/examples/upload-service.test.ts
  packages/shared/src/validation/__tests__/enhancedValidation.test.ts
  packages/shared/vitest.config.ts
  playwright.config.ts
Due: eslint-frontend, eslint-backend, eslint-shared, typescript-frontend, typescript-backend, prettier-frontend, prettier-backend, frontend-tests-critical, backend-tests-critical, npm-audit, validate-imports

feat(backend): implement business metric alerts system
  TEST_COVERAGE_REPORT.md
  docs/business-metrics-alerts.md
  packages/backend/src/__tests__/helpers/__tests__/integrationTestUtils.test.ts
  packages/backend/src/__tests__/helpers/integrationTestUtils.ts
  packages/backend/src/__tests__/helpers/performanceTestUtils.ts
  packages/backend/src/routes/metrics.ts
  packages/backend/src/security/middleware/auth.ts
  packages/backend/src/server.ts
  packages/backend/src/services/__tests__/authService.integration.test.ts
  packages/backend/src/startup/businessMetrics.startup.ts
  packages/backend/src/startup/index.ts
  packages/backend/src/utils/__tests__/advancedCacheManager.test.ts
  packages/backend/src/utils/__tests__/alertHandlers.test.ts
  packages/backend/src/utils/__tests__/businessMetrics.test.ts
  packages/backend/src/utils/__tests__/containerInfo.test.ts
  packages/backend/src/utils/alertHandlers.ts
  packages/backend/src/utils/businessMetrics.ts
  packages/frontend/src/contexts/__tests__/AuthContext.test.tsx
  packages/frontend/src/setupTests.ts
  packages/frontend/src/test-setup.ts
  packages/frontend/src/test-utils/IMPLEMENTATION_SUMMARY.md
  packages/frontend/src/test-utils/README.md
  packages/frontend/src/test-utils/__tests__/advancedTestFactories.test.ts
  packages/frontend/src/test-utils/__tests__/advancedTestUtilities.integration.test.tsx
  packages/frontend/src/test-utils/__tests__/healthMonitoring.integration.test.tsx
  packages/frontend/src/test-utils/advancedTestFactories.tsx
  packages/frontend/src/test-utils/performanceBenchmarks.ts
  packages/frontend/src/test-utils/testHealthMonitor.ts
  packages/frontend/src/test-utils/testSetup.ts
  packages/frontend/src/test-utils/vitestSetup.ts
  packages/frontend/vitest.config.example.ts
  packages/frontend/vitest.config.ts
  packages/shared/src/validation/__tests__/enhancedValidation.test.ts
  scripts/migrations/014_add_business_metrics_tables.sql
  scripts/rollback/014_add_business_metrics_tables_rollback.sql
Due: eslint-frontend, eslint-backend, eslint-shared, typescript-frontend, typescript-backend, prettier-frontend, prettier-backend, frontend-tests-critical, backend-tests-critical, validate-imports

feat(backend): add comprehensive session management integration tests
  TEST_EXECUTION_REPORT.md
  packages/backend/src/__tests__/integration/session.integration.test.ts
  packages/backend/src/db/monitoring/setupMonitoring.ts
  packages/backend/src/lib/monitoring/performanceMonitoring.ts
  packages/backend/src/metrics/prometheusExporter.ts
  packages/backend/src/middleware/cache.ts
  packages/backend/src/middleware/cdn.ts
  packages/backend/src/middleware/csrf.ts
  packages/backend/src/services/__tests__/sessionService.test.ts
  packages/frontend/src/contexts/__tests__/AuthContext.test.tsx
  packages/frontend/src/setupTests.ts
  packages/frontend/vitest.config.ts
Due: eslint-frontend, eslint-backend, typescript-frontend, typescript-backend, prettier-frontend, prettier-backend, frontend-tests-critical, backend-tests-critical, validate-imports

feat(e2e): add comprehensive monitoring endpoints E2E test suite
  docs/testing/monitoring-e2e-tests.md
  e2e/monitoring/monitoring-accessibility.spec.ts
  e2e/monitoring/monitoring-endpoints.spec.ts
  e2e/monitoring/performance-monitoring.spec.ts
  package-lock.json
  package.json
  packages/shared/src/utils/sanitization.ts
  packages/shared/src/validation/__tests__/enhancedValidation.test.ts
  packages/shared/src/validation/enhancedValidation.ts
  playwright-report/index.html
  scripts/run-monitoring-e2e-tests.sh
Due: eslint-shared, npm-audit, validate-imports

feat(autoscaling): implement comprehensive auto-scaling configuration system
  docker-compose.autoscale.yml
  docs/autoscaling/README.md
  packages/backend/src/__tests__/helpers/integrationTestUtils.ts
  packages/backend/src/__tests__/integration/session.integration.test.ts
  packages/backend/src/db/monitoring/__tests__/monitoring.test.ts
  packages/backend/src/monitoring/unified/__tests__/logRotation.test.ts
  packages/backend/src/routes/autoScaling.ts
  packages/backend/src/utils/__tests__/secretsLoader.test.ts
  packages/backend/src/utils/autoScaler.ts
  packages/backend/src/utils/autoScalerIntegration.ts
  packages/ml/.coverage
  packages/shared/src/api/responseHandler.ts
  packages/shared/src/utils/sanitization.ts
  packages/shared/src/validation/__tests__/enhancedValidation.test.ts
  packages/shared/src/validation/enhancedValidation.ts
  scripts/setup-autoscaling.sh
Due: eslint-backend, eslint-shared, typescript-backend, prettier-backend, backend-tests-critical, validate-imports

feat(ops): implement comprehensive automated backup recovery testing system
  docs/backup-recovery/README.md
  package.json
  packages/backend/src/middleware/databaseOptimizationMiddleware.ts
  packages/backend/src/middleware/enhancedCache.ts
  packages/backend/src/middleware/enhancedValidation.ts
  packages/backend/src/middleware/errorHandler.enhanced.ts
  packages/backend/src/monitoring/unified/index.ts
  packages/backend/src/security/middleware/auth.ts
  packages/backend/src/validators/__tests__/projectValidators.test.ts
  packages/shared/src/api/__tests__/responseHandler.test.ts
  packages/shared/src/api/responseHandler.ts
  packages/shared/src/services/upload/UnifiedUploadService.ts
  packages/shared/src/validation/__tests__/enhancedValidation.test.ts
  packages/shared/src/validation/enhancedValidation.ts
  scripts/backup/backup-database.sh
  scripts/test-backup-recovery.sh
Due: eslint-backend, eslint-shared, typescript-backend, prettier-backend, backend-tests-critical, npm-audit, validate-imports

feat(backend): add comprehensive backend service test analysis and sample test
  PR1_TEST_INFRASTRUCTURE_REVIEW.md
  PR2_ERROR_TRACKING_REVIEW.md
  PR3_MIDDLEWARE_REVIEW.md
  PR4_CACHING_REVIEW.md
  docs/test-analysis/backend-services-test-report.md
  docs/test-patterns.md
  packages/backend/src/config/errorTracking.config.ts
  packages/backend/src/middleware/compose.ts
  packages/backend/src/middleware/errorHandler.unified.ts
  packages/backend/src/middleware/errorTrackingRateLimit.ts
  packages/backend/src/middleware/performance.consolidated.ts
  packages/backend/src/monitoring/cacheMetrics.ts
  packages/backend/src/routes/errorTracking.ts
  packages/backend/src/services/__tests__/imageDeleteService.test.ts
  packages/backend/src/services/errorTracking.service.ts
  packages/backend/src/utils/cacheDebugger.ts
  packages/backend/src/utils/piiSanitizer.ts
  packages/frontend/src/__tests__/integration/export-api.test.tsx
  packages/frontend/src/contexts/__tests__/ThemeContext.test.tsx
  packages/frontend/src/lib/__mocks__/MockApiClientProvider.tsx
  packages/frontend/src/pages/export/__tests__/useExportFunctions.test.tsx
  packages/frontend/src/pages/export/hooks/__tests__/useExportFunctions.test.tsx
  packages/frontend/src/pages/export/hooks/__tests__/useExportFunctions.working.test.tsx
  packages/frontend/src/pages/segmentation/components/__tests__/EditorHeader.test.tsx
  packages/frontend/src/pages/segmentation/components/__tests__/EditorToolbar.test.tsx
  packages/frontend/src/pages/segmentation/components/__tests__/editorTestUtils.tsx
  packages/frontend/src/pages/segmentation/components/canvas/__tests__/CanvasImage.test.tsx
  packages/frontend/src/pages/segmentation/components/project/export/__tests__/MetricsVisualization.test.tsx
  packages/frontend/src/pages/segmentation/components/project/export/__tests__/visualizationTestUtils.tsx
  packages/frontend/src/pages/segmentation/components/statusbar/__tests__/StatusBarV2.test.tsx
  packages/frontend/src/pages/segmentation/components/statusbar/__tests__/statusBarTestUtils.tsx
  packages/frontend/src/test-utils/__tests__/advancedTestUtilities.integration.test.tsx
  packages/frontend/src/test-utils/__tests__/healthMonitoring.integration.test.tsx
  packages/frontend/src/test-utils/actUtils.ts
  packages/frontend/src/test-utils/advancedTestFactories.tsx
  packages/frontend/src/test-utils/coverageTestUtils.tsx
  packages/frontend/src/test-utils/performanceBaselines.ts
  packages/frontend/src/test-utils/performanceTestUtils.ts
  packages/frontend/src/test-utils/types.ts
  packages/frontend/src/utils/__tests__/cacheManager.improved.test.ts
Due: eslint-frontend, eslint-backend, typescript-frontend, typescript-backend, prettier-frontend, prettier-backend, frontend-tests-critical, backend-tests-critical, validate-imports

fix(frontend): complete Vitest to Jest migration for remaining test files
  packages/frontend/src/api/__tests__/imageUpload.test.ts
  packages/frontend/src/pages/segmentation/__tests__/SegmentationEditorV2.slice.test.tsx
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

docs: add comprehensive README for GitHub
  README.md
Due: none

chore: merge main into dev and resolve conflicts
  PR_IMPLEMENTATION_GUIDE.md
  PR_REVIEW_AND_IMPROVEMENTS.md
  PR_SPLIT_STRATEGY.md
  RISK_MITIGATION_PLAN.md
Due: none

readme update
  README.md
Due: none

update
  .gitignore
  test_models.py
Due: none

Update README.md
  README.md
Due: none

Add A3 protocol training and evaluation scripts (CMPB revision)
  scripts/a3/batch_eval_a3.sh
  scripts/a3/batch_eval_full_roster.sh
  scripts/a3/batch_eval_htsseg.sh
  scripts/a3/batch_eval_segformer.sh
  scripts/a3/build_cvat_package.py
  scripts/a3/chain_a100_recovery.sh
  scripts/a3/chain_a100_rest.sh
  scripts/a3/chain_a5000_recovery.sh
  scripts/a3/chain_a5000_rest.sh
  scripts/a3/eval_round2.sh
  scripts/a3/eval_segformer.py
  scripts/a3/evaluate_a3.py
  scripts/a3/generate_sauvola_dts.py
  scripts/a3/health_check.sh
  scripts/a3/post_upload_pipeline.sh
  scripts/a3/prepare_htsseg_eval.py
  scripts/a3/prepare_htsseg_tiles.py
  scripts/a3/recovery_a100_chain.sh
  scripts/a3/run_a3_launcher.py
  scripts/a3/run_all_4.sh
Due: none

Reproducibility cleanup: portable paths, missing scripts, README rewrite
  README.md
  requirements.txt
  scripts/a3/eval_segformer.py
  scripts/a3/evaluate_a3.py
  scripts/a3/iaa_analysis.py
  scripts/a3/run_a3_launcher.py
  scripts/a3/train_segformer.py
  src/evaluation/evaluate_models_server.py
Due: none

Thorough reproducibility cleanup — pass 2
  README.md
  model_details/README.md
  results/duplicate_analysis/find_duplicates.py
  results/statistics/comprehensive_analysis.py
  scripts/a3/build_cvat_package.py
  scripts/a3/eval_segformer.py
  scripts/a3/evaluate_a3.py
  scripts/a3/generate_sauvola_dts.py
  scripts/a3/prepare_htsseg_eval.py
  scripts/a3/prepare_htsseg_tiles.py
  scripts/a3/utia_cluster/README.md
  scripts/a3/utia_cluster/batch_eval_a3.sh
  scripts/a3/utia_cluster/batch_eval_full_roster.sh
  scripts/a3/utia_cluster/batch_eval_htsseg.sh
  scripts/a3/utia_cluster/batch_eval_segformer.sh
  scripts/a3/utia_cluster/chain_a100_recovery.sh
  scripts/a3/utia_cluster/chain_a100_rest.sh
  scripts/a3/utia_cluster/chain_a5000_recovery.sh
  scripts/a3/utia_cluster/chain_a5000_rest.sh
  scripts/a3/utia_cluster/eval_round2.sh
  scripts/a3/utia_cluster/health_check.sh
  scripts/a3/utia_cluster/post_upload_pipeline.sh
  scripts/a3/utia_cluster/recovery_a100_chain.sh
  scripts/a3/utia_cluster/run_all_4.sh
  scripts/training/finetune_hrnet.sh
  scripts/training/finetune_lightm_unet.sh
  scripts/training/finetune_pspnet.sh
  scripts/training/finetune_resunet_cbam.sh
  scripts/training/finetune_resunet_lc.sh
  scripts/training/finetune_resunet_ma.sh
  scripts/training/finetune_unet.sh
  scripts/training/pretrain_hrnet.sh
  scripts/training/pretrain_lightm_unet.sh
  scripts/training/pretrain_pspnet.sh
  scripts/training/pretrain_resunet_cbam.sh
  scripts/training/pretrain_resunet_lc.sh
  scripts/training/pretrain_resunet_ma.sh
  scripts/training/pretrain_unet.sh
  src/inference/inference.py
  src/training/CNN_main_spheroid.py
Due: none

Path conditions:
  eslint-frontend: any of: ^packages/frontend/.*\.(ts|tsx|js|jsx)$
  eslint-backend: any of: ^packages/backend/.*\.ts$
  eslint-shared: any of: ^packages/shared/.*\.(ts|tsx)$
  typescript-frontend: any of: ^packages/frontend/.*\.(ts|tsx)$
  typescript-backend: any of: ^packages/backend/.*\.ts$
  prettier-frontend: any of: ^packages/frontend/.*\.(ts|tsx|js|jsx|css|scss|json)$
  prettier-backend: any of: ^packages/backend/.*\.(ts|js|json)$
  frontend-tests-critical: any of: ^packages/frontend/src/.*\.(ts|tsx)$
  backend-tests-critical: any of: ^packages/backend/src/.*\.ts$
  npm-audit: any of: ^(package\.json|package-lock\.json)$
  validate-imports: any of: ^packages/.*/src/.*\.(ts|tsx|js|jsx)$
