Repository michalprusek/SpheroSeg: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-frontend, eslint-backend, eslint-shared, typescript-frontend, typescript-backend, prettier-frontend, prettier-backend, frontend-tests-critical, backend-tests-critical, npm-audit, validate-imports

eslint-frontend:
  name: ESLint (Frontend)
  entry: bash -c 'cd packages/frontend && npm run lint:fix'
  language: system
  pass_filenames: false

eslint-backend:
  name: ESLint (Backend)
  entry: bash -c 'cd packages/backend && npm run lint:fix'
  language: system
  pass_filenames: false

eslint-shared:
  name: ESLint (Shared)
  entry: bash -c 'cd packages/shared && npm run lint:fix'
  language: system
  pass_filenames: false

typescript-frontend:
  name: TypeScript Check (Frontend)
  entry: bash -c 'cd packages/frontend && npm run type-check'
  language: system
  pass_filenames: false

typescript-backend:
  name: TypeScript Check (Backend)
  entry: bash -c 'cd packages/backend && npm run type-check'
  language: system
  pass_filenames: false

prettier-frontend:
  name: Prettier (Frontend)
  entry: bash -c 'cd packages/frontend && npm run format'
  language: system
  pass_filenames: false

prettier-backend:
  name: Prettier (Backend)
  entry: bash -c 'cd packages/backend && npm run format'
  language: system
  pass_filenames: false

frontend-tests-critical:
  name: Frontend Critical Tests
  entry: bash -c 'cd packages/frontend && npm run test -- --run --reporter=basic src/__tests__/critical/'
  language: system
  pass_filenames: false

backend-tests-critical:
  name: Backend Critical Tests
  entry: bash -c 'cd packages/backend && npm run test -- --testNamePattern="(auth|security|validation)" --maxWorkers=2'
  language: system
  pass_filenames: false

npm-audit:
  name: NPM Security Audit
  entry: bash -c 'if [ "${CI:-false}" = "true" ]; then npm audit --audit-level=moderate --offline || echo "Audit failed in CI - check dependencies manually"; else npm audit --audit-level=moderate; fi'
  language: system
  pass_filenames: false

validate-imports:
  name: Validate Imports
  entry: bash -c 'node scripts/validate-imports.js'
  language: system
  pass_filenames: false

fix: resolve React hooks dependency warnings in Features component
  packages/frontend/src/components/Features.tsx
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

fix(types): Add comprehensive API and auth type definitions
  packages/backend/src/auth/jwtKeyRotation.ts
  packages/backend/src/services/cacheService.ts
  packages/frontend/src/hooks/api/useImageApi.ts
  packages/frontend/src/hooks/api/useProjectApi.ts
  packages/frontend/src/lib/__mocks__/MockApiClientProvider.tsx
  packages/types/src/auth.ts
  packages/types/src/index.ts
  packages/types/src/queue.ts
Due: eslint-frontend, eslint-backend, typescript-frontend, typescript-backend, prettier-frontend, prettier-backend, frontend-tests-critical, backend-tests-critical, validate-imports

fix: Fix integration test mocks and API hook compatibility
  packages/frontend/src/__tests__/integration/image-api.test.tsx
  packages/frontend/src/__tests__/integration/project-api.test.tsx
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

fix(types): Replace any types with proper types in WebSocket and frontend
  packages/frontend/src/components/ImageUploader.tsx
  packages/frontend/src/types/websocket.ts
  packages/types/tsconfig.tsbuildinfo
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

docs: Add TypeScript strict mode enhancement progress report
  any-types-report.json
  docs/typescript-strict-mode-progress.md
Due: none

refactor: replace 'any' types with proper TypeScript types
  packages/frontend/src/App.tsx
  packages/frontend/src/api/projectImages.ts
  packages/frontend/src/components/ABTesting.tsx
  packages/frontend/src/components/charts/BarChartContainer.tsx
  packages/frontend/src/routing/routePrefetching.ts
  packages/frontend/src/utils/webpackChunkNames.ts
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

feat(performance): Enhance route-based code splitting
  packages/frontend/vite.config.ts
Due: eslint-frontend, typescript-frontend, prettier-frontend

test: Add comprehensive environment and monitoring tests
  scripts/test-web-vitals.cjs
Due: none

docs: Update README with new environment variables
  README.md
Due: none

fix: resolve unused variables and escape character issues
  packages/frontend/src/api/segmentationQueue.ts
  packages/frontend/src/components/DashboardActions.tsx
  packages/frontend/src/components/ErrorBoundary.tsx
  packages/frontend/src/components/Hero.tsx
  packages/frontend/src/lib/__tests__/apiClient.test.ts
  packages/frontend/src/routing/RouterErrorBoundary.tsx
  packages/frontend/src/translations/en.ts
  packages/frontend/src/types/websocket.ts
  packages/frontend/src/utils/error/globalErrorHandler.ts
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

fix: Fix apiClient test mock dependencies and structure
  packages/frontend/src/lib/__tests__/apiClient.test.ts
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

fix(frontend): Fix prefer-const violation in Hero.tsx dependency array
  packages/frontend/src/components/Hero.tsx
  packages/frontend/src/components/project/SegmentationProgress.tsx
  packages/frontend/src/pages/export/components/__tests__/enhanced/ExportOptionsCard.test.tsx
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

docs: Add comprehensive monitoring documentation and database schema
  docs/monitoring/error-monitoring-setup.md
  docs/monitoring/performance-monitoring-guide.md
  scripts/migrations/010_create_error_reports_table.sql
  scripts/migrations/rollback/010_create_error_reports_table_rollback.sql
Due: none

fix(frontend): Replace console statements with logger and fix TypeScript any types
  packages/frontend/src/App.enhanced.tsx
  packages/frontend/src/__mocks__/polygonWorker.ts
  packages/frontend/src/__tests__/factories/cache.factory.ts
  packages/frontend/src/pages/export/components/__tests__/enhanced/ExportOptionsCard.test.tsx
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

fix(frontend): Fix ExportOptionsCard test failures
  packages/frontend/src/api/projectImages.ts
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

fix(frontend): Replace all console statements with structured logging in projectImages.ts
  packages/frontend/src/__tests__/performance/performanceTestingFramework.ts
  packages/frontend/src/api/projectImages.ts
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

fix(frontend): Fix remaining ESLint errors - unused variables and console statements
  packages/frontend/src/components/ErrorBoundary.tsx
  packages/frontend/src/components/Features.tsx
  packages/frontend/src/hooks/__tests__/useABTesting.test.ts
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

fix(frontend): Replace all console statements with structured logging in indexedDBService.ts
  packages/frontend/src/hooks/__tests__/useABTesting.test.ts
  packages/frontend/src/utils/indexedDBService.ts
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

fix(frontend): Replace console statements in core utility files with structured logging
  packages/frontend/src/hooks/__tests__/useABTesting.test.ts
  packages/frontend/src/utils/logging/unifiedLogger.ts
  packages/frontend/src/utils/pollingManager.ts
  packages/frontend/src/utils/requestDeduplicator.ts
  packages/frontend/src/utils/translationLoader.ts
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

fix(frontend): Replace 'any' types with proper TypeScript types for better type safety
  packages/frontend/src/components/LazyLoadedComponents.tsx
  packages/frontend/src/hooks/__tests__/useABTesting.test.ts
  packages/frontend/src/utils/performance.ts
  packages/frontend/src/utils/webpackChunkNames.ts
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

fix(frontend): Replace console statements with logger in component translation debugging
  packages/frontend/src/components/Features.tsx
  packages/frontend/src/components/Hero.tsx
  packages/frontend/src/hooks/__tests__/useABTesting.test.ts
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

feat(upload): enhance unified upload service with chunking and resume support
  docs/migration/unified-upload-migration-guide.md
  packages/shared/src/services/upload/UnifiedUploadService.ts
  packages/shared/src/services/upload/hooks.ts
  packages/shared/src/services/upload/index.ts
  packages/shared/src/services/upload/strategies.ts
  packages/shared/src/services/upload/types.ts
Due: eslint-shared, validate-imports

fix(frontend): Replace console statements with structured logging in ImageUploader.tsx
  packages/frontend/src/components/ImageUploader.tsx
  packages/frontend/src/components/ImageUploaderV2.tsx
  packages/frontend/src/components/settings/AvatarUploaderV2.tsx
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

feat(upload): complete unified upload service implementation
  packages/frontend/src/components/LanguageSwitcher.tsx
  packages/shared/src/services/upload/examples.ts
Due: eslint-frontend, eslint-shared, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

fix(frontend): Replace console statements in LanguageSwitcher and NewProject components
  packages/frontend/src/components/NewProject.tsx
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

fix(frontend): Replace console statement in UploadTab component
  packages/frontend/src/components/dashboard/UploadTab.tsx
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

fix(frontend): Fix unused variables and parameters in ImageUploaderV2.tsx
  packages/frontend/src/components/ImageUploaderV2.tsx
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

fix(frontend): Fix React hooks dependency warning in AnalyticsDashboardOptimized
  packages/frontend/src/components/analytics/AnalyticsDashboardOptimized.tsx
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

fix(frontend): Fix unused variables in multiple components
  packages/frontend/src/components/ProjectListItem.tsx
  packages/frontend/src/components/ProjectsList.tsx
  packages/frontend/src/components/SegmentationQueueIndicator.tsx
  packages/frontend/src/components/StatsOverview.tsx
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

fix(frontend): Fix WebSocketConnection test failures
  packages/frontend/src/__tests__/WebSocketConnection.test.ts
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

fix(frontend): Replace 'any' types with proper TypeScript interfaces in component files
  packages/frontend/src/components/charts/PieChartContainer.tsx
  packages/frontend/src/components/project/DebugSegmentationThumbnail.tsx
  packages/frontend/src/components/project/ImageDebug.tsx
  packages/frontend/src/components/project/ImageDebugger.tsx
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

feat(testing): add backend service integration tests
  packages/backend/src/services/__tests__/authService.integration.test.ts
  packages/backend/src/services/__tests__/projectService.integration.test.ts
  packages/backend/src/services/__tests__/segmentationService.integration.test.ts
  packages/shared/src/testing/examples/upload-hook.test.tsx
  packages/shared/src/testing/examples/upload-service.test.ts
  packages/shared/src/testing/index.ts
  packages/shared/src/testing/mocks/api.ts
  packages/shared/src/testing/mocks/components.tsx
  packages/shared/src/testing/mocks/files.ts
  packages/shared/src/testing/setup.ts
  packages/shared/src/testing/test-utils.tsx
Due: eslint-backend, eslint-shared, typescript-backend, prettier-backend, backend-tests-critical, validate-imports

fix: Add getConfig mock to ABTesting component test - ALL 21 TESTS PASSING!
  packages/frontend/src/components/__tests__/ABTesting.test.tsx
  packages/frontend/src/services/__tests__/unifiedAuthService.integration.test.ts
  packages/frontend/src/services/__tests__/unifiedWebSocketService.integration.test.ts
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

feat(testing): add frontend and shared service integration tests
  packages/shared/src/services/upload/__tests__/UnifiedUploadService.integration.test.ts
Due: eslint-shared, validate-imports

fix(frontend): Replace critical console.error statements with structured logging
  packages/frontend/src/components/project/ProjectImageActions.tsx
  packages/frontend/src/components/project/ProjectImageProcessor.tsx
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

fix(frontend): replace console statements with structured logging in project components
  e2e/user-flows/image-upload-segmentation.spec.ts
  e2e/user-flows/project-management.spec.ts
  package.json
  packages/frontend/src/components/project/ImageDebugger.tsx
  packages/frontend/src/components/project/ProjectImageActions.tsx
  packages/shared/src/testing/integration-test-setup.ts
  vitest.integration.config.ts
Due: eslint-frontend, eslint-shared, typescript-frontend, prettier-frontend, frontend-tests-critical, npm-audit, validate-imports

fix(frontend): complete console statement cleanup in remaining components
  e2e/user-flows/auth-and-profile.spec.ts
  packages/frontend/src/components/ProjectsList.tsx
  packages/frontend/src/components/project/DebugSegmentationThumbnail.tsx
  packages/frontend/src/pages/ProjectDetail.tsx
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

Path conditions:
  eslint-frontend: any of: ^packages/frontend/.*\.(ts|tsx|js|jsx)$
  eslint-backend: any of: ^packages/backend/.*\.ts$
  eslint-shared: any of: ^packages/shared/.*\.(ts|tsx)$
  typescript-frontend: any of: ^packages/frontend/.*\.(ts|tsx)$
  typescript-backend: any of: ^packages/backend/.*\.ts$
  prettier-frontend: any of: ^packages/frontend/.*\.(ts|tsx|js|jsx|css|scss|json)$
  prettier-backend: any of: ^packages/backend/.*\.(ts|js|json)$
  frontend-tests-critical: any of: ^packages/frontend/src/.*\.(ts|tsx)$
  backend-tests-critical: any of: ^packages/backend/src/.*\.ts$
  npm-audit: any of: ^(package\.json|package-lock\.json)$
  validate-imports: any of: ^packages/.*/src/.*\.(ts|tsx|js|jsx)$
