Repository michalprusek/SpheroSeg: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-frontend, eslint-backend, eslint-shared, typescript-frontend, typescript-backend, prettier-frontend, prettier-backend, frontend-tests-critical, backend-tests-critical, npm-audit, validate-imports

Path conditions:
  eslint-frontend: any of: ^packages/frontend/.*\.(ts|tsx|js|jsx)$
  eslint-backend: any of: ^packages/backend/.*\.ts$
  eslint-shared: any of: ^packages/shared/.*\.(ts|tsx)$
  typescript-frontend: any of: ^packages/frontend/.*\.(ts|tsx)$
  typescript-backend: any of: ^packages/backend/.*\.ts$
  prettier-frontend: any of: ^packages/frontend/.*\.(ts|tsx|js|jsx|css|scss|json)$
  prettier-backend: any of: ^packages/backend/.*\.(ts|js|json)$
  frontend-tests-critical: any of: ^packages/frontend/src/.*\.(ts|tsx)$
  backend-tests-critical: any of: ^packages/backend/src/.*\.ts$
  npm-audit: any of: ^(package\.json|package-lock\.json)$
  validate-imports: any of: ^packages/.*/src/.*\.(ts|tsx|js|jsx)$

fix(backend): Fix more ESLint errors - unused imports
  packages/backend/src/tests/imageUpload.test.ts
  packages/backend/src/tests/images.test.ts
  packages/backend/src/utils/responseHelpers.ts
Due: eslint-backend, typescript-backend, prettier-backend, backend-tests-critical, validate-imports

fix(backend): Fix more ESLint errors - unused parameters in tests
  packages/backend/src/tests/integration/mlIntegration.test.ts
  packages/backend/src/tests/integration/resegment.integration.test.ts
  packages/backend/src/tests/project-creation.test.ts
Due: eslint-backend, typescript-backend, prettier-backend, backend-tests-critical, validate-imports

fix(backend): Fix more ESLint errors in tests
  packages/backend/src/tests/integration/mlIntegration.test.ts
  packages/backend/src/utils/__tests__/imageUtils.test.ts
Due: eslint-backend, typescript-backend, prettier-backend, backend-tests-critical, validate-imports

fix(backend): Fix final ESLint errors in tests
  packages/backend/src/tests/integration/mlIntegration.test.ts
  packages/backend/src/tests/projectCreation.test.ts
  packages/backend/src/tests/segmentation/versionManagement.test.ts
  packages/backend/src/tests/segmentation_workflow_integration.test.ts
Due: eslint-backend, typescript-backend, prettier-backend, backend-tests-critical, validate-imports

fix(backend): Complete ESLint error fixes - BACKEND 100% CLEAN! ✅
  packages/backend/src/test-utils/mockFileSystem.ts
  packages/backend/src/tests/imageUpload.test.ts
  packages/backend/src/tests/userSettings.test.ts
Due: eslint-backend, typescript-backend, prettier-backend, backend-tests-critical, validate-imports

fix(frontend): Remove 'any' type from ProjectListItem
  packages/frontend/src/components/ProjectListItem.tsx
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

fix(frontend): Remove 'any' types from ImageDisplay
  packages/frontend/src/components/project/ImageDisplay.tsx
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

fix(frontend): Remove 'any' type from AppLayout
  packages/frontend/src/routing/AppLayout.tsx
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

fix(frontend): Remove 'any' types from ProjectImageActions
  packages/frontend/src/components/project/ProjectImageActions.tsx
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

fix: Remove 'any' types from SegmentationProgress and exportService
  packages/frontend/src/components/project/SegmentationProgress.tsx
  packages/frontend/src/pages/export/__tests__/ProjectExport.test.tsx
  packages/frontend/src/services/exportService.ts
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

fix: Remove 'any' types from apiClient.ts
  packages/frontend/src/lib/apiClient.ts
  packages/frontend/src/pages/export/__tests__/ProjectExport.test.tsx
  packages/frontend/src/pages/export/hooks/__tests__/useExportFunctions.test.tsx
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

fix: Remove 'any' types from segmentation api.ts
  packages/frontend/src/pages/export/hooks/__tests__/useExportFunctions.test.tsx
  packages/frontend/src/pages/segmentation/hooks/segmentation/api.ts
  packages/frontend/src/utils/__tests__/errorHandling.test.ts
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

fix: Remove 'any' types from userProfileService.ts
  packages/frontend/src/config/__tests__/app.config.validated.test.ts
  packages/frontend/src/services/userProfileService.ts
  packages/frontend/src/utils/__tests__/errorHandling.test.ts
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

fix(frontend): fix require() style imports in test files
  packages/frontend/src/config/__tests__/app.config.validated.test.ts
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

fix(frontend): fix more require() style imports
  packages/frontend/e2e/functionality/image-gallery-refresh.spec.ts
  packages/frontend/e2e/functionality/realtime-status-updates.spec.ts
  packages/frontend/src/__tests__/integration/segmentation-api.test.tsx
  packages/frontend/src/components/ui/__tests__/dialog.test.tsx
  packages/frontend/src/tests/utils/testUtils.tsx
  packages/frontend/vite.config.ts
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

fix(frontend): Replace 'any' types in e2e test files
  packages/frontend/e2e/functionality/image-upload.spec.ts
  packages/frontend/e2e/functionality/segmentation-queue-updates.spec.ts
  packages/frontend/e2e/performance/performance-benchmarks.spec.ts
Due: eslint-frontend, typescript-frontend, prettier-frontend

fix(frontend): replace Function type with proper function signatures
  packages/frontend/e2e/fixtures.ts
  packages/frontend/e2e/helpers/cache-helper.ts
  packages/frontend/src/services/unifiedWebSocketService.ts
  packages/frontend/src/services/websocketBatchHandler.ts
  packages/frontend/src/utils/__tests__/imageLoader.test.ts
  packages/frontend/src/utils/codeSplitting.improved.ts
  packages/frontend/src/utils/metricsService.ts
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

fix(frontend): fix unused caught error variables
  packages/frontend/playwright-cache.config.ts
  packages/frontend/src/utils/cacheManager.ts
  packages/frontend/src/utils/codeSplitting.improved.ts
  packages/frontend/src/utils/error/unifiedErrorHandler.ts
  packages/frontend/src/utils/lruCache.ts
  packages/frontend/src/utils/migrate-toasts.ts
  packages/frontend/src/utils/performance.ts
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

fix(frontend): fix more unused variable ESLint errors
  packages/frontend/src/__tests__/performance/polygonOperationsPerformance.test.ts
  packages/frontend/src/mocks/projectMocks.ts
  packages/frontend/src/services/websocketBatchHandler.ts
  packages/frontend/src/utils/error/unifiedErrorHandler.ts
  packages/frontend/src/utils/performance.ts
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

fix(frontend): Replace 'any' types with 'unknown' in error handling and utils
  packages/frontend/src/services/unifiedWebSocketService.ts
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

fix(frontend): Replace more 'any' types with 'unknown' in services and tests
  packages/frontend/src/__tests__/integration/image-api.test.tsx
  packages/frontend/src/__tests__/lib/imageUtils.test.ts
  packages/frontend/src/__tests__/visual-regression/setupVisualRegression.ts
  packages/frontend/src/services/api/client.ts
  packages/frontend/src/utils/translationLoader.ts
  packages/frontend/src/utils/validation/schemas.ts
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

fix(frontend): Replace 'any' types with 'unknown' in hooks and utils
  packages/frontend/src/hooks/useABTesting.ts
  packages/frontend/src/hooks/useProjectData.tsx
  packages/frontend/src/pages/segmentation/hooks/segmentation/useSegmentationV2.ts
  packages/frontend/src/services/api/client.ts
  packages/frontend/src/utils/authInterceptor.ts
  packages/frontend/src/utils/debounce.ts
  packages/frontend/src/utils/logging/unifiedLogger.ts
  packages/frontend/src/utils/pollingManager.ts
  packages/frontend/src/utils/requestDeduplicator.ts
  packages/frontend/src/utils/statsMapper.ts
  packages/frontend/src/utils/translationLoader.ts
  packages/frontend/src/utils/translationUtils.ts
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

feat(frontend): Implement centralized error handling system
  packages/frontend/.eslintrc.json
  packages/frontend/src/App.tsx
  packages/frontend/src/__tests__/services/toastService.test.tsx
  packages/frontend/src/components/ErrorBoundary.tsx
  packages/frontend/src/hooks/useErrorHandler.ts
  packages/frontend/src/hooks/useUnifiedCache.ts
  packages/frontend/src/main.tsx
  packages/frontend/src/routing/RouterErrorBoundary.tsx
  packages/frontend/src/services/api/client.ts
  packages/frontend/src/services/api/endpoints.ts
  packages/frontend/src/services/errorMonitoringService.ts
  packages/frontend/src/utils/error/globalErrorHandler.ts
  packages/frontend/src/utils/error/unifiedErrorHandler.ts
  packages/frontend/src/utils/migrate-toasts.ts
  packages/frontend/src/utils/performanceOptimizations.ts
  packages/frontend/src/utils/requestDeduplication.ts
  packages/frontend/src/utils/routeUtils.ts
  packages/frontend/src/utils/translationLoader.ts
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

fix(frontend): Fix frontend build errors - imports and API client
  packages/frontend/src/utils/migrate-toasts.ts
  packages/frontend/src/utils/performance.ts
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

fix: resolve unused variables and expressions in test files
  packages/frontend/src/__tests__/translations/translation-coverage.test.ts
  packages/frontend/src/api/__tests__/imageUpload.test.ts
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

feat: improve ESLint configuration for test and utility files
  packages/frontend/.eslintrc.json
Due: prettier-frontend

fix(frontend): Remove broken tsconfig extends reference in Docker environment
  packages/frontend/Test Project_metrics_2025-07-19.xlsx
  packages/frontend/src/utils/performance.ts
  packages/frontend/tsconfig.json
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

fix(frontend): Add missing prefetchRoute function in App.tsx
  packages/frontend/src/App.tsx
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

feat(frontend): Make performance monitoring configurable via environment variables
  packages/frontend/.env.example
  packages/frontend/src/utils/performance.ts
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

fix(frontend): Improve iOS detection in error monitoring service
  packages/frontend/src/services/errorMonitoringService.ts
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

feat(frontend): Optimize React Query configuration with better retry logic and performance settings
  packages/frontend/src/App.tsx
  packages/frontend/src/api/imageUpload.ts
  packages/frontend/src/config/queryClient.ts
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

refactor: replace console statements with proper logging in imageUpload.ts
  packages/frontend/src/api/imageUpload.ts
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

feat(frontend): Enable frontend tests - 53% passing (100/190 tests)
  packages/frontend/src/utils/performance.ts
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

refactor: replace console statements with proper logging in segmentationQueue.ts
  packages/frontend/src/api/segmentationQueue.ts
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

feat(frontend): Add proper web vitals monitoring with type safety
  packages/frontend/src/utils/performance.ts
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

feat(backend): Add POST endpoint for frontend error reporting
  packages/backend/src/routes/monitoring.ts
  packages/frontend/src/utils/consoleErrorDetector.ts
Due: eslint-frontend, eslint-backend, typescript-frontend, typescript-backend, prettier-frontend, prettier-backend, frontend-tests-critical, backend-tests-critical, validate-imports

docs: Add improvement plan implementation summary for July 19, 2025
  docs/improvement-plan-2025-07-19.md
Due: none

fix: resolve unused variable errors across components
  packages/frontend/src/api/segmentationQueue.ts
  packages/frontend/src/components/About.tsx
  packages/frontend/src/components/DashboardActions.tsx
  packages/frontend/src/components/ThemedFooter.tsx
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

feat(backend): Start migration to unified response handlers in users route
  packages/backend/src/routes/users.ts
  packages/frontend/src/__tests__/integration/image-api.test.tsx
  packages/frontend/src/__tests__/integration/project-api.test.tsx
  packages/frontend/src/components/Features.tsx
  packages/types/src/export.ts
  packages/types/src/index.ts
  packages/types/tsconfig.tsbuildinfo
  scripts/migrate-to-unified-responses.js
Due: eslint-frontend, eslint-backend, typescript-frontend, typescript-backend, prettier-frontend, prettier-backend, frontend-tests-critical, backend-tests-critical, validate-imports

fix: Fix timer function errors in frontend tests
  any-types-report.json
  package-lock.json
  package.json
  packages/backend/src/services/cacheService.ts
  packages/frontend/src/components/Features.tsx
  packages/frontend/src/pages/segmentation/hooks/useAutoSave.tsx
  packages/frontend/src/test-setup.ts
  packages/frontend/src/utils/timers.ts
  packages/types/src/api.ts
  packages/types/src/index.ts
  packages/types/tsconfig.tsbuildinfo
  scripts/analyze-any-types.cjs
Due: eslint-frontend, eslint-backend, typescript-frontend, typescript-backend, prettier-frontend, prettier-backend, frontend-tests-critical, backend-tests-critical, npm-audit, validate-imports
