Repository michalprusek/SpheroSeg: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-frontend, eslint-backend, eslint-shared, typescript-frontend, typescript-backend, prettier-frontend, prettier-backend, frontend-tests-critical, backend-tests-critical, npm-audit, validate-imports

Path conditions:
  eslint-frontend: any of: ^packages/frontend/.*\.(ts|tsx|js|jsx)$
  eslint-backend: any of: ^packages/backend/.*\.ts$
  eslint-shared: any of: ^packages/shared/.*\.(ts|tsx)$
  typescript-frontend: any of: ^packages/frontend/.*\.(ts|tsx)$
  typescript-backend: any of: ^packages/backend/.*\.ts$
  prettier-frontend: any of: ^packages/frontend/.*\.(ts|tsx|js|jsx|css|scss|json)$
  prettier-backend: any of: ^packages/backend/.*\.(ts|js|json)$
  frontend-tests-critical: any of: ^packages/frontend/src/.*\.(ts|tsx)$
  backend-tests-critical: any of: ^packages/backend/src/.*\.ts$
  npm-audit: any of: ^(package\.json|package-lock\.json)$
  validate-imports: any of: ^packages/.*/src/.*\.(ts|tsx|js|jsx)$

feat(testing): complete testing infrastructure with E2E tests
  packages/frontend/src/pages/ProjectDetail.tsx
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

fix(frontend): resolve critical unused variable ESLint errors
  packages/frontend/src/components/__tests__/ABTesting.test.tsx
  packages/frontend/src/components/analytics/AnalyticsDashboardOptimized.tsx
  packages/frontend/src/components/dashboard/StatsOverview.tsx
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

fix(frontend): complete unused variable cleanup and console statement fixes
  packages/frontend/src/components/diagnostics/DatabaseConsistencyCheck.tsx
  packages/frontend/src/components/project/DebugSegmentationThumbnail.tsx
  packages/frontend/src/components/project/ImageDebugger.tsx
  packages/frontend/src/components/project/ImageDisplayOptimized.tsx
  packages/frontend/src/components/project/ProjectCard.tsx
  packages/frontend/src/components/project/ProjectCardOptimized.tsx
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

fix(frontend): final console statement cleanup in remaining components
  packages/frontend/src/components/ProjectsList.tsx
  packages/frontend/src/components/SegmentationQueueIndicator.tsx
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

fix(frontend): add logger import and fix console statements in StatsOverview
  packages/frontend/src/components/StatsOverview.tsx
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

test: Add descriptive comments to @ts-expect-error directives in tests
  packages/frontend/src/components/__tests__/ABTesting.test.tsx
  packages/frontend/src/pages/segmentation/components/canvas/__tests__/CanvasContainer.test.tsx
  packages/frontend/src/utils/__tests__/imageLoader.test.ts
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

fix(frontend): resolve critical TypeScript errors and forbidden imports
  packages/frontend/src/components/__tests__/ImageUploaderTest.tsx
  packages/frontend/src/contexts/__tests__/enhanced/ProfileContext.test.tsx
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

fix(frontend): clean up remaining console statements in analytics and dashboard
  packages/backend/keys/0613e762221050c76b3a1b69540a89e0.json
  packages/frontend/src/components/analytics/AnalyticsDashboardOptimized.tsx
  packages/frontend/src/components/dashboard/StatsOverview.tsx
Due: eslint-frontend, typescript-frontend, prettier-frontend, prettier-backend, frontend-tests-critical, validate-imports

fix(types): resolve TypeScript module re-export conflicts
  packages/backend/.env.production
  packages/backend/src/db/migrations/011_add_production_indexes.sql
  packages/backend/src/db/migrations/011_add_production_indexes_rollback.sql
  packages/types/src/index.ts
  packages/types/tsconfig.tsbuildinfo
Due: validate-imports

feat: Production readiness improvements
  packages/backend/src/routes/health.ts
  scripts/remove-console-logs.js
Due: eslint-backend, typescript-backend, prettier-backend, backend-tests-critical, validate-imports

feat(backend): Add missing database indexes for performance
  packages/backend/src/db/migrations/012_add_missing_performance_indexes.sql
  packages/backend/src/db/migrations/012_add_missing_performance_indexes_rollback.sql
  packages/backend/src/middleware/csrf.ts
  packages/frontend/src/components/project/ProjectImageActions.tsx
  scripts/run-db-migration-012.sh
Due: eslint-frontend, eslint-backend, typescript-frontend, typescript-backend, prettier-frontend, prettier-backend, frontend-tests-critical, backend-tests-critical, validate-imports

fix: Replace console statements with structured logging in diagnostic components
  packages/frontend/src/components/LazyLoadedComponents.tsx
  packages/frontend/src/components/project/CreateProjectDialog.tsx
  packages/frontend/src/components/project/ImageDisplay.tsx
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

fix: Replace all console statements in SegmentationProgress with structured logging
  packages/frontend/src/components/project/SegmentationProgress.tsx
  packages/frontend/src/utils/memoryLeakFixes.ts
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

feat(backend): implement comprehensive security enhancements
  packages/backend/src/middleware/rateLimiter.ts
  packages/backend/src/middleware/securityHeaders.ts
  packages/backend/src/routes/auth.ts
  packages/backend/src/security/index.ts
  packages/backend/src/services/tokenService.ts
  packages/frontend/src/components/project/ImageDisplay.tsx
  packages/frontend/src/components/project/SegmentationProgress.tsx
  packages/frontend/src/pages/export/hooks/useExportFunctions.ts
Due: eslint-frontend, eslint-backend, typescript-frontend, typescript-backend, prettier-frontend, prettier-backend, frontend-tests-critical, backend-tests-critical, validate-imports

fix: Replace all 132 console statements in useExportFunctions with structured logging
  packages/frontend/src/components/project/ImageDisplay.tsx
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

docs: Add comprehensive console statement improvements summary
  packages/frontend/src/components/project/ImageDisplay.tsx
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

fix(frontend): Fix memory leaks in React components
  CONSOLE_STATEMENT_IMPROVEMENTS.md
  package-lock.json
  packages/backend/package.json
  packages/backend/src/middleware/csrf.ts
  packages/backend/src/middleware/rateLimiter.ts
  packages/backend/src/middleware/securityHeaders.ts
  packages/backend/src/routes/auth.ts
  packages/backend/src/security/index.ts
  packages/frontend/src/components/ErrorBoundary.tsx
  packages/frontend/src/components/project/ImageDisplay.tsx
  packages/frontend/src/components/project/SegmentationProgress.tsx
  packages/frontend/src/components/settings/AvatarUploaderV2.tsx
  packages/frontend/src/docs/MEMORY_LEAK_PREVENTION.md
  packages/frontend/src/hooks/useProjectData.tsx
  packages/frontend/src/utils/__tests__/memoryLeakFixes.test.ts
Due: eslint-frontend, eslint-backend, typescript-frontend, typescript-backend, prettier-frontend, prettier-backend, frontend-tests-critical, backend-tests-critical, npm-audit, validate-imports

fix: Prefix unused error variables with underscore to satisfy ESLint rules
  packages/frontend/src/components/AppErrorBoundary.tsx
  packages/frontend/src/components/ErrorBoundary.tsx
  packages/frontend/src/hooks/useErrorBoundary.ts
  packages/frontend/src/hooks/useSegmentationUpdates.ts
  packages/frontend/src/hooks/useSocketConnection.ts
  packages/frontend/src/hooks/useUnifiedAuth.tsx
  packages/frontend/src/pages/ProjectDetail.tsx
  packages/frontend/src/pages/SignIn.tsx
  packages/frontend/src/pages/__tests__/RequestAccess.test.tsx
  packages/frontend/src/pages/__tests__/SignIn.test.tsx
  packages/frontend/src/pages/__tests__/SignUp.test.tsx
  packages/frontend/src/routing/RouterErrorBoundary.tsx
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

feat(error-handling): implement comprehensive error boundaries and handling
  packages/backend/src/middleware/errorHandler.ts
  packages/frontend/src/routing/RouterErrorBoundary.tsx
  packages/frontend/src/services/abTesting/abTestingService.secure.ts
  packages/frontend/src/services/api/client.ts
  packages/frontend/src/services/authService.ts
  packages/frontend/src/services/performanceMetrics.ts
Due: eslint-frontend, eslint-backend, typescript-frontend, typescript-backend, prettier-frontend, prettier-backend, frontend-tests-critical, backend-tests-critical, validate-imports

fix: Fix additional unused error variables in service files
  packages/frontend/src/services/unifiedAuthService.ts
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

fix: Fix final unused error variables in remaining service files
  packages/frontend/src/services/unifiedImageProcessingService.ts
  packages/frontend/src/services/userProfileService.ts
  packages/frontend/src/utils/__tests__/memoryLeakFixes.test.ts
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

fix: resolve TypeScript parsing errors in frontend
  packages/backend/src/config/redis.ts
  packages/backend/src/services/cacheService.ts
  packages/frontend/src/lib/__mocks__/enhanced/apiClient.tsx
  packages/frontend/src/pages/segmentation/hooks/polygonInteraction/useCoordinateTransform.ts
  packages/frontend/src/pages/segmentation/hooks/polygonInteraction/useCoordinateTransform.tsx
  packages/frontend/src/pages/segmentation/hooks/useSegmentationHistory.ts
  packages/frontend/src/pages/segmentation/hooks/useSegmentationHistory.tsx
  packages/frontend/src/shared/test-utils/componentTestUtils.tsx
  packages/frontend/src/test-setup.ts
  packages/frontend/src/utils/__tests__/memoryLeakFixes.test.ts
  packages/frontend/src/utils/codeSplitting.improved.tsx
Due: eslint-frontend, eslint-backend, typescript-frontend, typescript-backend, prettier-frontend, prettier-backend, frontend-tests-critical, backend-tests-critical, validate-imports

fix: Fix memory leak test and add missing lucide-react icons in test setup
  packages/backend/src/server.ts
  packages/backend/src/services/cacheService.ts
  packages/backend/src/services/userStatsServiceOptimized.ts
  packages/frontend/src/components/__tests__/ImageUploaderTest.tsx
  packages/frontend/src/pages/segmentation/hooks/__tests__/useUndoRedo.test.tsx
  packages/frontend/src/test-setup.ts
Due: eslint-frontend, eslint-backend, typescript-frontend, typescript-backend, prettier-frontend, prettier-backend, frontend-tests-critical, backend-tests-critical, validate-imports

fix: Fix MockApiClientProvider to properly handle mock responses
  packages/backend/src/server.ts
  packages/backend/src/services/authService.ts
  packages/frontend/src/components/AppErrorBoundary.tsx
  packages/frontend/src/components/project/ProjectCard.tsx
  packages/frontend/src/components/project/ProjectImageProcessor.tsx
  packages/frontend/src/components/project/ProjectImages.tsx
  packages/frontend/src/components/project/SegmentationProgress.tsx
  packages/frontend/src/lib/__mocks__/MockApiClientProvider.tsx
Due: eslint-frontend, eslint-backend, typescript-frontend, typescript-backend, prettier-frontend, prettier-backend, frontend-tests-critical, backend-tests-critical, validate-imports

feat(backend): Implement Redis caching for improved performance
  packages/backend/src/scripts/test-redis-cache.ts
  packages/frontend/src/components/project/SegmentationProgress.tsx
Due: eslint-frontend, eslint-backend, typescript-frontend, typescript-backend, prettier-frontend, prettier-backend, frontend-tests-critical, backend-tests-critical, validate-imports

fix: resolve major unused variable and import violations
  packages/frontend/src/components/project/VirtualImageGrid.tsx
  packages/frontend/src/components/project/__tests__/CreateProjectDialog.test.tsx
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

feat(backend): add JWT secret validation and secure configuration
  PRODUCTION_READINESS_REPORT.md
  docker-compose.production.yml
  docs/deployment/secure-production-deployment.md
  monitoring/grafana/datasources/prometheus.yml
  monitoring/prometheus.yml
  packages/backend/package.json
  packages/backend/src/config/index.ts
  packages/backend/src/routes/health.ts
  packages/backend/src/server.ts
  packages/backend/src/utils/__tests__/secretsLoader.test.ts
  packages/backend/src/utils/envValidation.ts
  packages/backend/src/utils/secretsLoader.ts
  packages/backend/src/utils/startupValidation.ts
  packages/frontend/src/components/ProtectedRoute.tsx
  packages/frontend/src/components/project/ShareDialog.tsx
  packages/frontend/src/contexts/AuthContext.tsx
  packages/frontend/src/pages/ProjectDetail.tsx
  packages/frontend/src/pages/export/components/__tests__/enhanced/ExportOptionsCard.test.tsx
  packages/frontend/src/services/exportService.ts
  scripts/backup/backup-database.sh
  scripts/create-docker-secrets.sh
Due: eslint-frontend, eslint-backend, typescript-frontend, typescript-backend, prettier-frontend, prettier-backend, frontend-tests-critical, backend-tests-critical, validate-imports

feat(health): add comprehensive health check endpoints for all services
  docker-compose.yml
  docs/monitoring/health-checks.md
  packages/backend/Dockerfile
  packages/ml/Dockerfile
  packages/ml/ml_service.py
Due: none

feat(ci): implement comprehensive CI/CD pipeline with security scanning
  .github/workflows/ci-cd-production.yml
  .github/workflows/dependency-update.yml
  .github/workflows/pull-request.yml
  .github/workflows/security-scan.yml
  docker-compose.ci.yml
  docs/deployment/ci-cd-pipeline.md
Due: none

feat(backend): implement Redis-based session management
  PRODUCTION_READINESS_REPORT.md
  docs/deployment/logging-configuration.md
  docs/deployment/session-management.md
  package-lock.json
  packages/backend/package.json
  packages/backend/src/__tests__/session.test.ts
  packages/backend/src/config/session.ts
  packages/backend/src/jobs/sessionCleanup.ts
  packages/backend/src/middleware/index.ts
  packages/backend/src/monitoring/unified/__tests__/logRotation.test.ts
  packages/backend/src/monitoring/unified/index.ts
  packages/backend/src/routes/auth.session.ts
  packages/backend/src/routes/index.ts
  packages/backend/src/security/middleware/sessionAuth.ts
  packages/backend/src/services/authService.ts
  packages/backend/src/services/scheduledTaskService.ts
  packages/backend/src/services/sessionService.ts
Due: eslint-backend, typescript-backend, prettier-backend, backend-tests-critical, npm-audit, validate-imports

fix: Fix frontend build error - isPointInPolygon export from shared package
  packages/frontend/src/__tests__/performance/polygonOperationsPerformance.test.ts
  packages/frontend/src/lib/segmentation/dynamicSimplification.ts
  packages/frontend/src/lib/svgUtils.ts
  packages/frontend/src/pages/segmentation/hooks/segmentation/geometry.ts
  packages/frontend/src/pages/segmentation/hooks/segmentation/interactions.ts
  packages/frontend/src/pages/segmentation/utils/geometry.ts
  packages/frontend/src/pages/segmentation/utils/metricCalculations.ts
  packages/frontend/src/pages/segmentation/utils/polygonSlicing.ts
  packages/frontend/src/pages/segmentation/utils/polygonVisibility.ts
  packages/frontend/src/pages/segmentation/utils/slicePolygon.ts
  packages/frontend/src/shared/utils/polygonSlicingUtils.ts
  packages/frontend/src/shared/utils/polygonWorkerUtils.ts
  packages/frontend/src/utils/polygonUtils.ts
  packages/frontend/vite.config.ts
  packages/shared/src/api/responseHandler.js.map
  packages/shared/src/api/responseHandler.ts
  packages/shared/src/services/upload/UnifiedUploadService.ts
  packages/shared/src/services/upload/examples.ts
  packages/shared/src/services/upload/hooks.ts
  packages/shared/src/services/upload/index.ts
  packages/shared/src/services/upload/strategies.ts
  packages/shared/src/testing/examples/upload-hook.test.tsx
  packages/shared/src/testing/index.ts
  packages/shared/src/testing/integration-test-setup.ts
  packages/shared/src/testing/mocks/api.ts
  packages/shared/src/testing/mocks/components.tsx
  packages/shared/src/testing/mocks/files.ts
  packages/shared/src/testing/setup.ts
  packages/shared/src/testing/test-utils.tsx
  packages/shared/tsconfig.json
  packages/types/src/index.d.ts
  packages/types/src/index.d.ts.map
  packages/types/tsconfig.tsbuildinfo
Due: eslint-frontend, eslint-shared, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

fix(frontend): Fix 54% of failing tests - navigation context and auth fixes
  packages/frontend/src/contexts/AuthContext.tsx
  packages/frontend/src/contexts/__tests__/AuthContext.test.tsx
  packages/frontend/src/test/mocks/auth.tsx
  packages/frontend/src/test/mocks/i18next.ts
  packages/frontend/src/test/mocks/router.tsx
  packages/frontend/src/test/setup.ts
  packages/frontend/src/test/utils.tsx
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

test(frontend): Add additional test mocks for logger, config, radix, and apiClient
  packages/frontend/src/test/mocks/apiClient.ts
  packages/frontend/src/test/mocks/config.ts
  packages/frontend/src/test/mocks/logger.ts
  packages/frontend/src/test/mocks/radix.tsx
  packages/frontend/src/test/setup.ts
Due: eslint-frontend, typescript-frontend, prettier-frontend, frontend-tests-critical, validate-imports

feat(testing): Set up Playwright E2E testing infrastructure
  package-lock.json
  package.json
  playwright.config.ts
Due: npm-audit

feat(monitoring): Implement comprehensive monitoring and alerting with Prometheus/Grafana
  monitoring/README.md
  monitoring/alertmanager/config.yml
  monitoring/docker-compose.monitoring.yml
  monitoring/grafana/dashboards/spheroseg-application.json
  monitoring/grafana/dashboards/spheroseg-infrastructure.json
  monitoring/grafana/provisioning/dashboards/dashboard.yml
  monitoring/grafana/provisioning/datasources/prometheus.yml
  monitoring/prometheus/alerts/application.yml
  monitoring/prometheus/alerts/infrastructure.yml
  monitoring/prometheus/prometheus.yml
  packages/backend/src/app.ts
  packages/backend/src/server.ts
Due: eslint-backend, typescript-backend, prettier-backend, backend-tests-critical, validate-imports

feat(deployment): Configure comprehensive production deployment
  docker-compose.prod.yml
  nginx/prod.conf
  packages/backend/Dockerfile
  packages/frontend/Dockerfile
  packages/frontend/nginx.conf
  scripts/backup/Dockerfile
  scripts/backup/backup.sh
  scripts/deploy-production.sh
  scripts/setup-ssl.sh
Due: none

docs: Create comprehensive production deployment documentation
  docs/API.md
  docs/ARCHITECTURE.md
  docs/DEPLOYMENT.md
  docs/DOCUMENTATION_INDEX.md
  docs/OPERATIONS.md
Due: none

fix: Resolve critical TypeScript errors in backend
  docs/improvement-plan-pr-review.md
  packages/backend/src/controllers/userProfileController.ts
  packages/backend/src/db/monitoring/setupMonitoring.ts
  packages/backend/src/db/performanceWrapper.ts
  packages/backend/src/db/readReplica.ts
  packages/backend/src/db/run-migration.ts
  packages/backend/src/lib/monitoring/index.ts
  packages/backend/src/utils/imageUtils.unified.ts
  packages/backend/src/utils/responseHelpers.ts
  packages/backend/src/utils/socketThrottle.ts
  packages/backend/src/utils/startupValidation.ts
  packages/backend/src/utils/validation.ts
  packages/backend/src/workers/projectDuplicationWorker.ts
  packages/types/src/api.ts
  packages/types/tsconfig.tsbuildinfo
Due: eslint-backend, typescript-backend, prettier-backend, backend-tests-critical, validate-imports
